[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
  ignore = untracked
[submodule "bundle/pandoc"]
	path = bundle/pandoc
	url = http://github.com/vim-pandoc/vim-pandoc.git
  ignore = untracked
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = git://github.com/vim-scripts/pylint.vim.git
  ignore = untracked
[submodule "bundle/fugative"]
	path = bundle/fugative
	url = git://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
  ignore = untracked
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = git://github.com/embear/vim-localvimrc.git
  ignore = untracked
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/asford/Align.git
  ignore = untracked
[submodule "bundle/AsyncCommand"]
	path = bundle/AsyncCommand
	url = git://github.com/asford/AsyncCommand.git
  ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
  ignore = untracked
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = git://github.com/kshenoy/vim-signature.git
  ignore = untracked
[submodule "bundle/tagselect"]
	path = bundle/tagselect
	url = git://github.com/asford/tagselect.git
  ignore = untracked
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = git@github.com:asford/scratch.vim.git
  ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
  ignore = untracked
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
  ignore = untracked
[submodule "bundle/IndentTab"]
	path = bundle/IndentTab
	url = https://github.com/vim-scripts/IndentTab
  ignore = untracked
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
  ignore = untracked
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
  ignore = untracked
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
  ignore = untracked
[submodule "bundle/pyclewn"]
	path = bundle/pyclewn
	url = https://github.com/xieyu/pyclewn.git
  ignore = dirty
[submodule "bundle/khuno"]
	path = bundle/khuno
	url = https://github.com/alfredodeza/khuno.vim.git
  ignore = untracked
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
  ignore = untracked
