[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
  ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
  ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
  ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = http://github.com/wincent/Command-T
  ignore = dirty
[submodule "bundle/pandoc"]
	path = bundle/pandoc
	url = http://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = git://github.com/vim-scripts/pylint.vim.git
[submodule "bundle/fugative"]
	path = bundle/fugative
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = git://github.com/embear/vim-localvimrc.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule "bundle/AsyncCommand"]
	path = bundle/AsyncCommand
	url = git://github.com/pydave/AsyncCommand.git
